# ===============================
# Visual Studio / IDE
# ===============================
.vs/
*.user
*.suo

# ===============================
# Build outputs
# ===============================
bin/
obj/

# ===============================
# .NET
# ===============================
*.dll
*.exe

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS
# ===============================
Thumbs.db
.DS_Store

# ===============================
# Environment / Secrets
# ===============================
appsettings.Development.json
